@inherits LayoutComponentBase
@using BlazorApp.Models;
@using Microsoft.AspNetCore.Components.Authorization
@inject ClientDatabaseService ClientDbService
<div class="layout">

    <aside class="sidebar">
        <NavMenu />
    </aside>

    <div class="main">

        @* <header class="topbar">

            <div class="page-title">
                <h3>RockSolid</h3>
            </div>

            <div class="top-actions">

                <a class="about" href="https://learn.microsoft.com/aspnet/core/" target="_blank">
                    <i class="bi bi-question-circle"></i>
                    About
                </a>

                <AuthorizeView>

                    <NotAuthorized>

                        <a class="login" href="/login">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Login
                        </a>

                    </NotAuthorized>

                    <Authorized>

                        <a class="logout" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            Logout
                        </a>

                    </Authorized>

                </AuthorizeView>

            </div>

        </header> *@

        <main class="page-content">
            <div class="main-layout">
                <!-- header -->
                <div class="top-bar">
                    <div class="brand">
                        <i class="bi bi-bank2"></i>
                        <h1>Rock<span>Solid</span></h1>
                    </div>
                    <div class="auth-buttons">
                        @if(User?.Name.Length > 0){
                            <span class="avatar"><i class="bi bi-person-circle"></i></span>
                            <span style="font-weight:500; color:#1e3c72;">@User?.Name @User?.Surname</span>
                        }
                        @if(isLoggedIn){
                            <NavLink href="/logout">
                                <button class="btn btn-logout"><i class="bi bi-box-arrow-right"></i> Logout</button>
                            </NavLink>
                        }
                        else{
                            <NavLink href="/login">
                                <button class="btn btn-primary"><i class="bi bi-lock"></i> Login</button>
                            </NavLink>
                        }
                    </div>
                </div>
                <div class="content-scroll">
                    @Body
                </div>
            </div>

        </main>

    </div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href=".">Reload</a>
</div>

@code{
    private ClientDatabase? User;
    bool isLoggedIn{get;set;} = false;
    protected override async Task OnInitializedAsync()
    {
        if(authenticationState != null){
            var authState = await authenticationState;
            var userClaims = authState.User;
            var userId = userClaims.FindFirst("UserId")?.Value;
            if (!string.IsNullOrEmpty(userId))
            {
                var users = await ClientDbService.GetClientByUserId(userId);
                User = users.FirstOrDefault();
                isLoggedIn = true;
            }
        }
    }
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState{get; set;}
}