@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <NotAuthorized>
                    <a href="/login" target="_blank">Login</a>
                    <a href="/register" target="_blank">Register</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout" class="nav-link text-danger">Logout</a>
                </Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="background-color: #fff6ec;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
