<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorApp.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyAns3hvlW5l1QUzS5okDMi8A99-E6V2H_Q",
            authDomain: "blazor-project-41a39.firebaseapp.com",
            projectId: "blazor-project-41a39",
            storageBucket: "blazor-project-41a39.firebasestorage.app",
            messagingSenderId: "632676975269",
            appId: "1:632676975269:web:19d749a33db104204ac34c",
            measurementId: "G-26Y6J5LEHQ"
        };
        const app = firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
