@page "/applications"
<PageTitle>Applications</PageTitle>
@using BlazorApp.Components.Reusbale
@using BlazorApp.Models
@rendermode InteractiveServer
@inject ApplicationService ApplicantDBService

<h1>Applications</h1>
<div class="w-100">
    <SearchBox OnSearch="GetFilteredApplications"/>
</div>
<div>
    @if(isLoading){
        <p>Loading...</p>
    }else{
        <Table Headers="@Headers" Rows="@applicantsAsObjects" PropertyNames="@PropertyNames"/>
    }
</div>

@code{
    static string[] Headers=["Borrower","Email","Application Date","Requested Amount","Status","Action"];
    private string[] PropertyNames = new[] { "Username","Email","CreatedAt", "RequestedAmount", "Status" };

    private List<Applicant> applicants = new();
    private bool isLoading = false;
    private List<object> applicantsAsObjects => applicants.Cast<object>().ToList();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        applicants = await ApplicantDBService.GetAllApplicationsAsync();
        isLoading = false;
    }

    private async Task GetFilteredApplications(string searchTerm){
        applicants = await ApplicantDBService.SearchApplicationByNameAsync(searchTerm);
    }

}