@page "/applications"
@using BlazorApp.Components.Reusbale
@using BlazorApp.Models
@rendermode InteractiveServer
@inject ApplicationService ApplicantDBService

<h1>Applications</h1>

<div>
    @if(applicants is null){
        <p>No Applications.............</p>
    }else{
        <Table Headers="@Headers" Rows="@applicantsAsObjects" PropertyNames="@PropertyNames"/>
    }
</div>

@code{
    static string[] Headers=["Borrower","Application Date","Requested Amount","Status","Action"];
    private string[] PropertyNames = new[] { "Name", "CreatedAt", "RequestedAmount", "Status" };

    private List<Applicant> applicants = new();
    private List<object> applicantsAsObjects => applicants.Cast<object>().ToList();

    protected override async Task OnInitializedAsync()
    {
        applicants = await ApplicantDBService.GetAllApplicationsAsync();
    }

}