.floating-input {
    position: relative;
    margin-top: 1.5rem;
}

.floating-input ::deep .input-field {
width: 100%;
border: none;
border-bottom: 2px solid grey;
border-radius: 4px;
padding: 10px 0 6px 0;
font-size: 1rem;
color: rgb(78, 77, 77);
background: transparent;
outline: none;
transition: all 0.2s ease;
padding: 6px;
}

.floating-input label {
position: absolute;
top: 10px;
left: 0;
font-size: 1rem;
color: #999;
pointer-events: none;
transition: all 0.2s ease;
padding-left: 6px;
}

/* When input is focused or not empty */
.floating-input ::deep .input-field:focus + label,
.floating-input ::deep .input-field.has-value + label
{
top: -10px;
font-size: 0.8rem;
color: #0d6efd; /* Bootstrap primary blue */
}

/* Add nice focus effect */
.floating-input ::deep .input-field:focus {
border-color: #0d6efd;
box-shadow: 0 1px 0 0 #0d6efd;
}

.range-input {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
    padding: 6px;
  }
  
  .range-input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0d6efd;
    cursor: pointer;
  }
  
  .range-input:active::-webkit-slider-thumb {
    background: #084298;
  }

  /* Loan summary styling */

  ul.loan-summary li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
}

ul.loan-summary h5 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}

ul.loan-summary p {
    font-weight: 600;
    color: #333;
    margin: 0;
}