@page "/applications"
@using BlazorApp.Components.Reusbale
@using BlazorApp.Models

<h1>Applications</h1>

<div>
    @if(applicants == null){
        <p>No Applications.............</p>
    }else{
        <Table Headers="@Headers" Rows="@applicants"/>
    }
</div>

@code{
    static string[] Headers=["Borrower","Application Date","Requested Amount","Status","Action"];

    private List<Applicant> applicants = new();

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(50);

        applicants.Add(new Applicant
        {
            Name="Nkosana",
            RequestedAmount=600
        });
         applicants.Add(new Applicant
        {
            Name="Timothy",
            RequestedAmount=900
        });
         applicants.Add(new Applicant
        {
            Name="Benin",
            RequestedAmount=1200
        });
         applicants.Add(new Applicant
        {
            Name="Kwesta",
            RequestedAmount=1100
        });
    }

}