@page "/dashboard"
@using BlazorApp.Components.Reusbale

<div class="dashboard-header">
    <h1>Dashboard</h1>
</div>

<div class="d-flex flex-row gap-2 justify-content-between mt-10">
    <Card Title="Paid Amount" IconColor="green" BiIcon=IconName.DollarSign Comment="Amount available in bank for clients to lend" Value="R420000.00"/>
    <Card Title="Oustanding Balance" IconColor="blue" BiIcon=IconName.GraphUpArrow Comment="Total amount that needs to be paid by clients" Value="R311000.00"/>
    <Card Title="Interest Paid" IconColor="orange" BiIcon=IconName.CashCoin Comment="Interest paid" Value="6"/>
    <Card Title="Total Loans" IconColor="red" BiIcon=IconName.ExclamationOctagon Comment="Total loan offered" Value="1"/>
</div>

<div>
    <p class="fs-3 fw-bold">All Loans</p>
    <Table/>
</div>