@page "/"
@inject NavigationManager navManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="3"/>

@code{
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
       navManager.NavigateTo("/dashboard", true);
    }
}