@page "/loan-offers"
@page "/loan-offers/{Id}"
@rendermode InteractiveServer
@using BlazorApp.Models
@inject NavigationManager navManager
@inject LoanOffersServices LoanOffersServices
@inject LoanOfferTagsServices LoanTagsServices

<div class="container py-4">
    <EditForm method="post" Model="loanOffer" OnValidSubmit="UpdateLoanOffer" FormName="create" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger mb-3" />

        <div class="card shadow-sm p-4 rounded-4">

            <h4 class="mb-4 fw-bold text-primary">Loan Offer Details</h4>

            <div class="row g-4">

                <!-- Title -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText class="form-control"  id="title" @bind-Value="loanOffer.Name" />
                        <label for="title">Title</label>
                    </div>
                    <ValidationMessage For="()=> loanOffer.Name" class="text-danger small" />
                </div>

                <!-- Min Amount -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control"  type="number" id="minAmount" @bind-Value="loanOffer.MinimumAmount" />
                        <label for="minAmount">Minimum Amount</label>
                    </div>
                    <ValidationMessage For="()=> loanOffer.MinimumAmount" class="text-danger small" />
                </div>

                <!-- Max Amount -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control"  id="maxAmount" @bind-Value="loanOffer.MaximumAmount" />
                        <label for="maxAmount">Maximum Amount</label>
                    </div>
                    <ValidationMessage For="()=> loanOffer.MaximumAmount" class="text-danger small" />
                </div>

                <!-- Min Interest -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control"  type="number" id="minInterest" @bind-Value="loanOffer.MinimumInterest" />
                        <label for="minInterest">Minimum Interest</label>
                    </div>
                    <ValidationMessage For="()=> loanOffer.MinimumInterest" class="text-danger small" />
                </div>

                <!-- Max Interest -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputNumber class="form-control"  id="maxInterest" @bind-Value="loanOffer.MaximumInterest" />
                        <label for="maxInterest">Maximum Interest</label>
                    </div>
                    <ValidationMessage For="()=> loanOffer.MaximumInterest" class="text-danger small" />
                </div>
                <!-- Loan Type -->
                 <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-control"  id="loanType" @bind="@loanOffer.LoanType">
                            @foreach(var loantype in Enum.GetValues<LoanTypes>()){
                                @if(loantype != LoanTypes.None){
                                    <option value="@loantype">@loantype</option>
                                }
                            }
                        </select>
                        <label for="maxInterest">Loan Type</label>
                    </div>
                </div>

            </div>

            <div class="row pt-2 mt-2">
                <div class="col-md-5">
                    <div class="form-floating">
                        <input class="form-control" id="tagInput" @bind="currentTag" />
                        <label for="tagInput">Add Tag</label>
                    </div>
                </div>

                <div class="col-md-2 d-flex align-items-center">
                    <button class="btn circle-plus" type="button" @onclick="AddTag">+</button>
                </div>
            </div>
                        
            <!-- Tag List -->
            <div class="d-flex gap-2 flex-wrap mt-3">
                @foreach (var tag in Tags)
                {
                    <span class="tag-item">
                        @tag.Name
                        <button class="remove-btn" type="button" @onclick="() => RemoveTag(tag)">×</button>
                    </span>
                }
            </div>

            <div class="text-center mt-4">
                <NavLink class="btn btn-danger" href="/settings">
                    Back
                </NavLink>
                <button type="submit" class="btn btn-primary px-5 py-2">
                    Update
                </button>
            </div>

        </div>
    </EditForm>
</div>

@code{
    public LoanOffer loanOffer {get; set;} = new();
    [Parameter] public string Id{get; set;} = string.Empty;
    private string currentTag = "";
    public List<LoanOffersTags> Tags { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var offer = await LoanOffersServices.Find(Id); // load from backend
        loanOffer = offer.FirstOrDefault() ?? new LoanOffer();
        
        if(!string.IsNullOrWhiteSpace(loanOffer.Id))
        {
            await UpdateCurrentTags();
        }

    }
    async public Task UpdateLoanOffer(){
        try{
            Console.WriteLine("Submitting");
            if(string.IsNullOrEmpty(Id))
                await LoanOffersServices.Add(loanOffer);
            else{
                await LoanOffersServices.UpdateLoanOffer(loanOffer);
            }
            Console.WriteLine("Submitted successfully");
        }catch(Exception err){
            Console.WriteLine($"there was an error {err}");
        }
        
        navManager.NavigateTo("/settings");
    }

    async private Task AddTag()
    {
        Console.WriteLine("Adding a tag");
        if (!string.IsNullOrWhiteSpace(currentTag))
        {
            @* Tags.Add(currentTag.Trim()); *@
            Console.WriteLine("Starting....");
            await LoanTagsServices.Add(new LoanOffersTags{
                Name= currentTag,
                LoanOfferId= loanOffer.Id
            });
            currentTag = "";
            Console.WriteLine("Added tag successfully");
            await UpdateCurrentTags();;
        }
    }

    async private Task RemoveTag(LoanOffersTags tag)
    {
        @* Tags.Remove(tag); *@
        await LoanTagsServices.DeleteAsync(tag.Id);
        Console.WriteLine("Tag removed successfully");
        await UpdateCurrentTags();;
    }

    async private Task UpdateCurrentTags(){
        var tags = await LoanTagsServices.GetTags(loanOffer.Id);
        Tags = tags;
    }


}